.description {
  height: 20px;
  color: rgb(66, 27, 45);
}

.CurrentWeather {
  margin-top: 10px;
}
.fa-sun {
  font-size: 50px;
  color: rgb(234, 219, 204);
  position: relative;
  left: 40px;
  top: 30px;
}
#temperature {
  font-size: 60px;
  text-align: center;
}

#units {
  font-size: 19px;
  font-weight: bold;
  position: relative;
  top: -28px;
}
#max-min {
  text-align: center;
  font-size: 11px;
}
#parameters {
  font-size: 13px;
  margin-top: 35px;
  margin-left: 10px;
}
#details {
}

#current-location {
  font-size: 27px;
  text-align: center;
}

#current-time {
  margin-left: 10px;
}

#current-date {
  margin-left: 10px;
}
