.WeatherInfo canvas {
  color: rgb(53, 53, 53);
  display: block;
  size: 90px;
}

.description {
  height: 20px;
  color: rgb(66, 27, 45);
  font-size: 15px;
}

.CurrentWeather {
  margin-top: 10px;
}

.box {
  display: flex;
  justify-content: center;
}

#parameters {
  font-size: 15px;
  margin-top: 14px;
  margin-left: 10px;
}

#current-location {
  padding-top: 0;
  font-size: 27px;
  text-align: center;
  position: relative;
  top: -7px;
}

#main-icon {
  width: 130px;
}
