.description {
  height: 20px;
  color: rgb(66, 27, 45);
}

.CurrentWeather {
  margin-top: 10px;
}

#temperature {
  font-size: 60px;
  text-align: center;
}

#units {
  font-size: 19px;
  font-weight: bold;
  position: relative;
  top: -28px;
}
#max-min {
  text-align: center;
  font-size: 15px;
}
#parameters {
  font-size: 15px;
  margin-top: 14px;
  margin-left: 10px;
}

#current-location {
  font-size: 27px;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
}
