.WeatherApp {
  margin: 30px auto;
  padding: 30px 50px;
  max-width: 700px;
  max-height: 1400px;
  border-radius: 20px;
  color: rgb(66, 27, 45);
  font-family: "Maven Pro", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
}

body {
  background-image: url("https://papers.co/wallpaper/papers.co-bd94-minimal-space-art-illustration-29-wallpaper.jpg");
  padding: auto;
}
