form {
  display: inline-flex;
  margin-bottom: 30px;
}

.text {
  height: 38px;
  color: rgb(53, 53, 53);
  border: none;
  border-radius: 0.25rem;
  font-size: 13px;
  padding: 0 20px;
}
.btn.btn-primary {
  height: 38px;
  width: 180px;
  padding: 0 15px;
  color: rgb(53, 53, 53);
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  background-color: #dad2cf;
}

#current-button {
  width: 120px;
}

.col-4 {
  display: flex;
  justify-content: center;
}
